
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

@font-face{
  font-family: 'sbold-font';
  src: url(./font/OpenSans-SemiBold.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

body{
  font-family: 'sbold-font', sans-serif ;
  box-sizing: border-box;
}

h1,h2{
	font-family: 'Roboto Slab', serif;
}

/* Navbar */
.navbar-brand{
	font-size: 2em;
	font-family: 'Sriracha', cursive;
}

.navbar{
	position: relative;
	z-index: 5;
}

/* End Of Navbar */

/* Header */

header{
	background-image: url(https://images.unsplash.com/photo-1561731172-9d906d7b13bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80);
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	color: black;
	position: relative;
	padding: 0;
}

header::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	padding: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

header .container{
	position: relative;
	z-index: 1;
}

header .container .text-area{
	padding-top: 8em;
	text-align: center;
}

header .container .text-area h1{
	font-size: 5em;
}

header .container .text-area span{
	display: block;
	padding-top: 10px;
}

header .container .text-area p{
	width: 70%;
	margin: 0 auto;
	padding-top: 1.3em;
	color: white;
	line-height: 1.7em;
}

/* End of Header */

/* Info Search Panel */

.container .info-panel{
	color: white;
	background-color:black;
}

input{
	padding: 3px 7px;
	width: 70%;
	margin-left: 2em;
}

.container-info{
	position: absolute;
	margin: 0 2em;
}

.container .info-panel{
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	background-color: white;
	color: orange;
	padding: 1em;
	margin: -50px 2rem 0 2rem;
}

.container .info-panel label{
	font-size: 1.2em;
}
/* End Of Search Panel */

/* Main Content */

.container .main-content{
	margin-top: 17em ;
}

.main-content .left-sect .sub-head{
	color: rgb(247, 171, 30);
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 1em;
}

.main-content .left-sect h2{
	font-size: 2em;
	line-height: 1.3em;
	font-weight: 800;
}

.main-content .right-sect{
	background-color: rgba(255, 165, 0, 0.2);
	padding: 3em;
	margin-bottom: 2.3em;
}

.main-content .right-sect .content, .content-footer .content{
	color: rgba(0, 0, 0, 0.55);
	padding-bottom: 1.3em;
	line-height: 1.5em;
	font-size: 14px;
}

.card .card-title a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	line-height: 1.4em;
}

.card .card-body p{
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
}

.card-content .card-panel{
	box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.4);
	transition: box-shadow 0.5s ;
	border-radius: 10px;
}

.card-content .card-panel:hover{
	box-shadow: 0.4em 1.3em 2.5em rgb(255, 162, 96, 0.7);
}

/* End Of Main Content  */

/* Footer */

footer .content-footer{
	background-color: rgba(255, 165, 0, 0.2);
	padding: 5em;
	text-align: center;
	margin-top: 6em;
}

footer .content-footer h2{
	font-size: 2.5em;
	font-weight: 800;
	line-height: 1.2em;
	letter-spacing: 2.5px;
	margin: 0.5em 0;
}

footer .content-footer input{
	width: 100%;
	margin: 1em;
	border-radius: 5px;
	border: none;
	padding: 10px;
}

footer .medsos{
	margin: 3em 0;
}

footer .medsos li{
	display: inline-block;
	/* margin: 0 1em ; */
	padding: 0.5em;
	width: 3em;
}

footer .medsos li:hover{
	background-color: orange;
	border-radius: 20px;
}

footer .medsos img{
	width: 1.6em;
}


/* end of Footer */


/* Utilities */

.navbar-light .navbar-nav .nav-link.tombol{
	text-transform: uppercase;
	border: 2px solid orange;
	background-color: orange;
	padding-left: 10px;
	border-radius: 15px;
}

.navbar-nav .nav-link{
	text-align: center;
}


/* End Of Utilities */


/* Desktop Vers */

@media (min-width: 992px){
	nav .nav-link{
		position: relative;
		z-index: 2;
	}
	.navbar-brand, .nav-link{
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}

	.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	}

	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid rgb(255, 165, 0);
		width: 50%;
		margin: auto;
		padding-bottom: 6px;
		margin-bottom: -9px;
	}

	header .container{
		margin-top: -75px;
	}

	header .container .text-area{
		padding-top: 11em;
		text-align: center;
	}

	header .container .text-area p{
		width: 50%;
		margin: 0 auto;
		padding-top: 2em;
		color: white;
		line-height: 1.7em;
	}

	.container .info-panel{
		margin-left: 6em;
	}

	input{
		width: 100%;
		margin-left: 0;
	}

	.container .main-content{
		margin-top: 12em ;
	}

	.main-content .left-sect h2{
		font-size: 3em;
		line-height: 1.3em;
		font-weight: 800;
	}

	footer .content-footer form{
		display: flex;
		justify-content: center
	}

	footer .content-footer input{
		width: 40%;
		margin: 0 1em;
		border-radius: 5px;
		border: none;
		padding: 10px;
	}
}

@media (max-height: 600px){
	header .container .text-area{
		padding-top: 4em;
	}

	
}